div(id='footer' class='row')
  div(class='col-md-12 col-xs-12')
    div(class='well')
      span Copyright&nbsp;
      span(class='glyphicon glyphicon-copyright-mark')
      span &nbsp;2015 Kurt Symanzik
