extends layout

block pages
  #posts
    each post in pagination.files
      - var pubDate = moment(post.publishDate).format('MMMM D, YYYY');
      h2(class='post-title')
        a(href='/'+post.path)!= post.title
      div(class='post-meta-moddate')= pubDate
      div(class='post-contents')!= post.contents
      //-textarea= util.inspect(pagination)
    div.row
      div(class='page-links col-md-4')
        if pagination.previous
          - var num = parseInt(pagination.num - 1, 10);
          a(href='/page/' + num + '/index.html') Newer posts
      div(class='page-links col-md-4 col-md-offset-4')
        if pagination.next
          - var num = parseInt(pagination.num + 1, 10);
          a(class='pull-right' href='/page/' + num + '/index.html') Older posts
