extends layout

block post
  article#article
    - var pubDate = moment(publishDate).format('MMMM D, YYYY');
    h2(class='post-title')= title
    div(class='post-meta-moddate')= pubDate
    div(class='post-contents')!= contents

