extends layout

block post
  article#article
    - var modDate = moment(modifyDate).format('MMMM D, YYYY');
    h2(class='post-title')= title
    div(class='post-meta-moddate')= modDate
    div(class='post-contents')!= contents

