extends layout

block main
  #posts
    if collections.posts && collections.posts.length > 0
      each post in collections.posts
        - var modDate = moment(post.modifyDate).format('MMMM D, YYYY');
        h2(class='post-title')
          a(href='/'+post.path)!= post.title
        div(class='post-meta-moddate')= modDate
        div(class='post-contents')!= post.contents
    else
      h2 Sorry, no posts!
